.header .container,
.contentArea_section {
  width: 98% !important;
}

.primary_font {
  font-family: 'Poppins', sans-serif;
}

.m-l-0 {
  margin-left: 0
}

.m-l-3 {
  margin-left: 3px
}

.m-l-5 {
  margin-left: 5px
}

.m-l-8 {
  margin-left: 8px
}

.m-l-10 {
  margin-left: 10px
}

.m-l-13 {
  margin-left: 13px
}

.m-l-15 {
  margin-left: 15px
}

.m-l-18 {
  margin-left: 18px
}

.m-l-20 {
  margin-left: 20px
}

.m-l-23 {
  margin-left: 23px
}

.m-l-25 {
  margin-left: 25px
}

.m-l-28 {
  margin-left: 28px
}

.m-l-30 {
  margin-left: 30px
}

.m-l-33 {
  margin-left: 33px
}

.m-l-35 {
  margin-left: 35px
}

.m-l-38 {
  margin-left: 38px
}

.m-l-40 {
  margin-left: 40px
}

.m-r-3 {
  margin-right: 3px
}

.m-r-5 {
  margin-right: 5px
}

.m-r-8 {
  margin-right: 8px
}

.m-r-10 {
  margin-right: 10px
}

.m-r-13 {
  margin-right: 13px
}

.m-r-15 {
  margin-right: 15px
}

.m-r-18 {
  margin-right: 18px
}

.m-r-20 {
  margin-right: 20px
}

.m-r-23 {
  margin-right: 23px
}

.m-r-25 {
  margin-right: 25px
}

.m-r-28 {
  margin-right: 28px
}

.m-r-30 {
  margin-right: 30px
}

.m-r-33 {
  margin-right: 33px
}

.m-r-35 {
  margin-right: 35px
}

.m-r-38 {
  margin-right: 38px
}

.m-r-40 {
  margin-right: 40px
}

.m-b-3 {
  margin-bottom: 3px
}

.m-b-5 {
  margin-bottom: 5px
}

.m-b-8 {
  margin-bottom: 8px
}

.m-b-10 {
  margin-bottom: 10px
}

.m-b-13 {
  margin-bottom: 13px
}

.m-b-15 {
  margin-bottom: 15px
}

.m-b-18 {
  margin-bottom: 18px
}

.m-b-20 {
  margin-bottom: 20px
}

.m-b-23 {
  margin-bottom: 23px
}

.m-b-25 {
  margin-bottom: 25px
}

.m-b-28 {
  margin-bottom: 28px
}

.m-b-30 {
  margin-bottom: 30px
}

.m-b-33 {
  margin-bottom: 33px
}

.m-b-35 {
  margin-bottom: 35px
}

.m-b-38 {
  margin-bottom: 38px
}

.m-b-40 {
  margin-bottom: 40px
}

.m-t-3 {
  margin-top: 3px
}

.m-t-5 {
  margin-top: 5px
}

.m-t-8 {
  margin-top: 8px
}

.m-t-10 {
  margin-top: 10px
}

.m-t-13 {
  margin-top: 13px
}

.m-t-15 {
  margin-top: 15px
}

.m-t-18 {
  margin-top: 18px
}

.m-t-20 {
  margin-top: 20px
}

.m-t-23 {
  margin-top: 23px
}

.m-t-25 {
  margin-top: 25px
}

.m-t-28 {
  margin-top: 28px
}

.m-t-30 {
  margin-top: 30px
}

.m-t-33 {
  margin-top: 33px
}

.m-t-35 {
  margin-top: 35px
}

.m-t-38 {
  margin-top: 38px
}

.m-t-40 {
  margin-top: 40px
}

.p-l-3 {
  padding-left: 3px
}

.p-l-5 {
  padding-left: 5px
}

.p-l-8 {
  padding-left: 8px
}

.p-l-10 {
  padding-left: 10px
}

.p-l-13 {
  padding-left: 13px
}

.p-l-15 {
  padding-left: 15px
}

.p-l-18 {
  padding-left: 18px
}

.p-l-20 {
  padding-left: 20px
}

.p-l-23 {
  padding-left: 23px
}

.p-l-25 {
  padding-left: 25px
}

.p-l-28 {
  padding-left: 28px
}

.p-l-30 {
  padding-left: 30px
}

.p-l-33 {
  padding-left: 33px
}

.p-l-35,
.p-l-38 {
  padding-left: 35px
}

.p-l-40 {
  padding-left: 40px
}

.p-r-3 {
  padding-right: 3px
}

.p-r-5 {
  padding-right: 5px
}

.p-r-8 {
  padding-right: 8px
}

.p-r-10 {
  padding-right: 10px
}

.p-r-13 {
  padding-right: 13px
}

.p-r-15 {
  padding-right: 15px
}

.p-r-18 {
  padding-right: 18px
}

.p-r-20 {
  padding-right: 20px
}

.p-r-23 {
  padding-right: 23px
}

.p-r-25 {
  padding-right: 25px
}

.p-r-28 {
  padding-right: 28px
}

.p-r-30 {
  padding-right: 30px
}

.p-r-33 {
  padding-right: 33px
}

.p-r-35 {
  padding-right: 35px
}

.p-r-38 {
  padding-right: 38px
}

.p-r-40 {
  padding-right: 40px
}

.p-b-3 {
  padding-bottom: 3px
}

.p-b-5 {
  padding-bottom: 5px
}

.p-b-8 {
  padding-bottom: 8px
}

.p-b-10 {
  padding-bottom: 10px
}

.p-b-13 {
  padding-bottom: 13px
}

.p-b-15 {
  padding-bottom: 15px
}

.p-b-18 {
  padding-bottom: 18px
}

.p-b-20 {
  padding-bottom: 20px
}

.p-b-23 {
  padding-bottom: 23px
}

.p-b-25 {
  padding-bottom: 25px
}

.p-b-28 {
  padding-bottom: 28px
}

.p-b-30 {
  padding-bottom: 30px
}

.p-b-33 {
  padding-bottom: 33px
}

.p-b-35 {
  padding-bottom: 35px
}

.p-b-38 {
  padding-bottom: 38px
}

.p-b-40 {
  padding-bottom: 40px
}

.p-b-80 {
  padding-bottom: 80px
}

.p-t-3 {
  padding-top: 3px
}

.p-t-5 {
  padding-top: 5px
}

.p-t-8 {
  padding-top: 8px
}

.p-t-10 {
  padding-top: 10px
}

.p-t-13 {
  padding-top: 13px
}

.p-t-15 {
  padding-top: 15px
}

.p-t-18 {
  padding-top: 18px
}

.p-t-20 {
  padding-top: 20px
}

.p-t-23 {
  padding-top: 23px
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-28 {
  padding-top: 28px
}

.p-t-30 {
  padding-top: 30px
}

.p-t-33 {
  padding-top: 33px
}

.p-t-35 {
  padding-top: 35px
}

.p-t-38 {
  padding-top: 38px
}

.p-t-40 {
  padding-top: 40px
}

.p-t-80 {
  padding-top: 80px
}

.mobilNone {
  display: inline-block;
}

.mobilvisible {
  display: none;
}

.navbar-nav > li.mobilvisible {
  display: none !important;
}

.text_undrln {
  text-decoration: underline;
  cursor: pointer;
  color: #f44336;
}

.text_undrln:hover {
  text-decoration: none;
}

.contentArea_section {
  /*background-color: #f4f5fa;*/
  height: calc(100vh - 125px);
  overflow-y: auto;
  position: relative;
  max-width: 1230px;
  width: 100%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.contentArea {
  background-color: #ececec;
  padding: 0px 15px 15px;
  /*  max-width: 1230px;*/
  margin: auto;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 0 4px 0 0;
}

.contentArea_Header {
  padding: 15px 0px 10px;
  color: #5a0877;
  clear: both;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 1px;
}

.useradmin_mdl_hdr .modal-header {
  padding: 12px 10px !important;
}

.useradmin_mdl_hdr .modal-title {
  font-weight: 500;
  font-size: 16px;
}

.useradmin_mdl_hdr label {
  font-weight: 400;
  font-size: 14px;
}

.useradmin_mdl_hdr .modal-body {
  padding: 20px;
}

.useradmin_mdl_hdr .form-control {
  border: 1px solid #c5c5c5;
}

.useradmin_mdl_hdr .form-group {
  margin-bottom: 15px;
}

.modal550 {
  width: 100%;
  max-width: 450px;
}

.review-modal {
  width: 100%;
  max-width: 750px;
}

.SellerVerify_Modal {
  width: 100%;
  max-width: 950px;
}

.pad0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.info_dashboard {
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.info_dashboard i {
  font-size: 18px;
  margin-right: 6px;
}

.clrenrgy {
  color: #c51c10;
}

.clrinr {
  color: #0014ff;
}

.clrvoltg {
  color: #fac300;
}

.clrcurnt {
  color: #c366f6;
}

.clrpwer {
  color: #f44336;
}

.slabBox {
  width: 250px;
  float: right;
}

.slabBox h4 {
  float: right;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
}

.slabBox h4 span.priceheader {
  display: block;
  text-align: right;
  font-size: 17px;
  margin-bottom: 6px;
  font-weight: 500;
}

.slabcart {
  height: 35px;
  width: 80px;
  position: relative;
  float: left;
  margin-top: 3px;
}

.slabcart span {
  width: 6px;
  border-radius: 2px 2px 0 0;
  margin-right: 2px;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.slabcart span:first-child {
  background-color: #44ac4b;
  height: 20%;
  left: 0;
}

.slabcart span:nth-child(2) {
  background-color: #16a085;
  height: 28%;
  left: 8px;
}

.slabcart span:nth-child(3) {
  background-color: #45a2ac;
  height: 36%;
  left: 16px;
}

.slabcart span:nth-child(4) {
  background-color: #e172f8;
  height: 44%;
  left: 24px;
}

.slabcart span:nth-child(5) {
  background-color: #ff8a82;
  height: 52%;
  left: 32px;
}

.slabcart span:nth-child(6) {
  background-color: #ff5b5b;
  height: 60%;
  left: 40px;
}

.slabcart span:nth-child(7) {
  background-color: #f34040;
  height: 68%;
  left: 48px;
}

.slabcart span:nth-child(8) {
  background-color: #ef2d2d;
  height: 76%;
  left: 56px;
}

.slabcart span:nth-child(9) {
  background-color: #de0000;
  height: 84%;
  left: 64px;
}

.slabcart span:nth-child(10) {
  background-color: #ff0000;
  height: 92%;
  left: 72px;
}

.slabcart span.active:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #44ac4b;
  top: -12px;
  left: -2px;
}

.dashbrdcard_Icons {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f0e9fa;
  text-align: center;
  float: left;
  font-size: 24px;
  margin-right: 10px;
  line-height: 60px;
}

.dashbrdcard_Detls {
  width: calc(100% - 70px);
  float: left;
}


/*** app-notification starts **********/


.btn-success, .btn-info, .Addbtn {
  color: #fff;
  background-color: #055e96 !important;
  border-color: #055e96 !important;
}

.btn-success:hover, .btn-success:focus .btn-success:active,
.btn-info:hover, .btn-info:focus .btn-info:active, .Addbtn:hover {
  background-color: #044f7f !important;
  border-color: #044f7f !important;
}

.relativeDiv {
  position: relative;
  padding-left: 5px;
}

.relativeDiv .datereview {
  font-size: 12px;
  color: #7c2818;
  margin-bottom: 8px;
}

.relativeDiv h6 {
  margin-bottom: 0px;
}

.note {
  background: #f6f6f6;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
  color: #4e4e4e;
  font-size: 14px;
  margin: 10px 5px 10px 10px;
  padding: 15px 40px 15px 20px;
  position: relative;
  font-weight: 400;
  line-height: 24px;
}

.note:before,
.note:after {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: -0.1em;
}

.note:before {
  border-radius: 50%;
  content: "";
  width: 2.04em;
  height: 2.04em;
}

.note:after {
  color: #055e96 !important;
  font-family: "Material Design Icons";
  z-index: 2;
}

.note-default:before {
  background: #e7e7e7;
  border: 1px solid #d2d2d2;
}

.note-default:after {
  content: "\f09a";
}

.noti_close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.noti_close:hover {
  color: red;
}


/*** app-notification ends **********/

.pad_right5 {
  padding-right: 5px !important;
  padding-left: 0 !important;
}

.pad_leftright10 {
  padding-right: 10px !important;
  padding-left: 5px !important;
}

.pad_right10 {
  padding-right: 10px !important;
  padding-left: 0 !important;
}

.pad_leftright5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.pad_right2 {
  padding-right: 2px !important;
  padding-left: 0px !important;
}

.pad_leftt2 {
  padding-right: 0px !important;
  padding-left: 2px !important;
}

.pad_leftt5 {
  padding-right: 0px !important;
  padding-left: 5px !important;
}

.pad_leftright2 {
  padding-right: 2px !important;
  padding-left: 2px !important;
}

.dashbrdcard_Detls h2 {
  font-size: 17px;
  margin-top: 5px;
}

.dashbrdcard_Detls h4 {
  font-size: 15px;
  margin-top: 10px;
  color: #777;
}

.cursorpointer {
  cursor: pointer;
}

.cursordefault {
  cursor: default !important;
}

.logoutmdl {
  width: 98%;
  max-width: 300px;
  height: 100vh;
}

.logoutmdl .modal-content {
  border-radius: 6px;
}

.logoutmdl .modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  margin: auto;
}

.DeleteNoti {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 10px 0;
}

.logoutmdl .btn {
  padding: 6px 20px;
}

.card.bg-img .card-header {
  background-color: transparent;
  border-bottom: none !important;
  padding: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.card-box {
  background-color: #fff;
  border-bottom: none !important;
  padding: 20px;
  position: relative;
  border-radius: 5px !important;
  width: 100%;
  float: left;
}

.btn_admin_user, .badge-success {
  color: #fff !important;
  background-color: #055e96;
  border-color: #055e96;
  padding: 7px 13px;
  transition: .4s;
}

.btn_admin_user:hover {
  color: #fff !important;
  background-color: #044f7f;
  border-color: #044f7f;
  opacity: .9;
}

.btn-info {
  color: #fff !important;
  background-color: #055e96 !important;
  border-color: #055e96 !important;
}

.btn-info:hover {
  color: #fff !important;
  background-color: #044f7f !important;
  border-color: #044f7f !important;
}

.btn-pending {
  color: #fff !important;
  background-color: #1297a7 !important;
  border-color: #1297a7 !important;
}

.btn-pending:hover {
  color: #fff !important;
  background-color: #044f7f !important;
  border-color: #044f7f !important;
}

.dropdown-menu {
  min-width: 200px;
}

.consumption_fieldBox {
  max-width: 500px;
  width: 100%;
}

.fieldBox ::placeholder {
  color: #939393;
}

.fieldBox :-ms-input-placeholder {
  color: #939393;
}

.fieldBox ::-ms-input-placeholder {
  color: #939393;
}

.card.bg-img {
  border-radius: 5px !important;
}

.card.bg-img .card-body {
  padding: 40px;
  background-color: transparent;
}

.card.bg-img .card-header h1 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
}

.card.bg-img .card-header h2 {
  font-size: 19px;
  color: #f44336;
  font-weight: 700;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
}

.card.bg-img p {
  color: #000;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .4px;
}

.card.bg-img h3 {
  font-size: 14px;
  color: #055e96;
  font-weight: 500;
}

.cardBox {
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  padding: 15px;
  border-radius: 4px;
}

.mainiconbox {
  height: 44px;
  width: 42px;
  background-color: #f1f1f1;
  line-height: 49px;
  text-align: center;
  float: left;
  margin-right: 10px;
  color: #055e96;
  font-size: 29px;
  border-radius: 3px;
}

.rightheader {
  float: right;
  width: auto;
  margin-bottom: 0;
}

.rightheader li {
  float: right;
  width: 200px;
  margin-left: 3px;
}

.rightheader label {
  font-weight: 500;
}

.rightheader li .form-control {
  color: #4e5154;
  border: 1px solid #d8d8d8;
  padding: 4px 7px;
  border-radius: 4px;
  height: 32px;
  margin-top: 5px;
}

.cardHeader {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.cardHeader .box-title {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  float: left;
  margin-top: 1px;
}

.userContent .userLabel {
  padding: 4px 8px;
  color: #000;
  font-weight: 400;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  background-color: #f5f5f5;
  font-size: 14px;
  margin-right: 2px;
  color: #000;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover {
  color: #000000 !important;
  cursor: default;
  background-color: #f1f1f1 !important;
  border-color: #dee2e6 #dee2e6 #055e96 !important;
}

.form-control[readonly] {
  background-color: #eee;
  opacity: 1;
  cursor: not-allowed;
}

.nav-tabs > li > a {
  color: #616161;
}
.nav-tabs > li a ~ .disableClass{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 232, 232,.50);
  cursor: not-allowed;
}
.nav-tabs > li  {
  position: relative;
}
.nav-tabs > li a.disabled ~ .disableClass {
  display: block;
}

.btn {
  font-weight: 500;
}

.file-input-container {
  display: inline;
  margin: 2px;
}

.sm-input-file {
  width: 90px;
  opacity: 0;
  height: 34px;
  position: absolute;
  z-index: 99;
}

.for-sm-input-file {
  width: 75px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #a6dfcf;
  float: left;
  cursor: pointer;
  z-index: 30;
  text-align: center;
  color: #000;
  padding-top: 0px;
  border-right: 0;
  transition: .4s;
  position: absolute;
  font-size: 12px;
  font-weight: 400;
}

.modal-body {
  padding: 15px 20px;
}

.for-sm-input-file:hover {
  background: rgba(241, 160, 22, 0.74);
  color: #fff;
}

.span-text {
  display: block;
  padding: 8px 10px;
  height: 34px;
  background: #e4e4e4f0;
  color: #000;
  width: calc(100% - 84px);
  border: 1px solid #a6dfcf;
  border-left: 0;
  margin-left: 75px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}

.upload-docuImg {
  width: 50px;
  height: 34px;
  margin-top: 21px;
  margin-left: -14px;
}

.pad_leftt_right0 {
  padding-right: 0px;
  padding-left: 0px;
}

.modal-header {
  padding: 11px 8px 8px;
}

.modal-header .close {
  opacity: .8;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  padding: 0;
  margin: 0;
  margin-top: -3px;
}

h4.modal-title {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  line-height: 20px;
}

.modal-footer {
  padding: 7px 8px;
}

.modal-header .close:hover {
  opacity: 1;
  animation-name: closebtnanimation;
  animation-duration: .4s;
}

.btn {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.col-xl-10-2 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@keyframes closebtnanimation {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(30deg);
  }
  66% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

label {
  font-weight: 400;
  color: #202020;
  font-size: 13px;
  margin-bottom: 1px;
}

.Title_pageDahhbrd {
  color: #585858;
  padding-top: 13px;
  font-weight: 600;
  font-size: 15px;
}

.notespara {
  color: #1e1c1c;
  font-size: 12px;
  margin-bottom: 0;
  margin-left: -15px;
  line-height: 17px;
  font-weight: 500;
}

.noteText {
  color: #aa5844;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 17px;
  font-weight: 500;
}

.userttile {
  font-weight: 500;
  font-size: 16px;
  margin-top: 11px;
  width: 100%;
  float: left;
  background-color: #f1f1f1;
  padding: 8px 13px;
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px !important;
}

.applainsDetails {
  width: 100%;
}

table.applainsDetails thead tr th {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

table.applainsDetails tr td {
  padding: 6px 8px;
  border: 1px solid #f1f1f1;
  vertical-align: middle;
}

.applanceTdActin {
  width: 200px;
}

table.applainsDetails tr td a.btn {
  padding: 4px 6px;
  font-size: 12px;
}

.userContent table.userContentDetails {
  width: 100%;
  max-width: 450px;
}

.form-group {
  margin-bottom: 15px;
}

.userContent table.userContentDetails tr td {
  padding: 4px 8px;
}

.userContent table.userContentDetails tr td:first-child {
  width: 140px;
  position: relative;
}

.userContent table.userContentDetails tr td:first-child:after {
  content: ':';
  position: absolute;
  right: 5px;
}

.UserTab_MnuBox {
  width: 280px;
  float: left;
}

.UserTab_DetailsBox {
  width: calc(100% - 290px);
  float: left;
  margin-left: 10px;
}

.userpageDP {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.userpageDP img {
  width: 100%;
  height: 100%
}

.deviceLeftBox {
  width: 300px;
  float: left;
}

.deviceRightBox {
  width: calc(100% - 310px);
  float: left;
  margin-left: 10px;
}

.nav-tabs .nav-item {
  margin-bottom: 0px;
}

.breadcrumbs {
  display: block;
  height: 13px;
  margin-top: 5px;
}

.breadcrumbs > ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 3px;
}

.breadcrumbs > ul > li {
  float: left;
  position: relative;
  line-height: 14px;
}

.breadcrumbs > ul > li > a {
  color: #3e3e3c;
  float: left;
  font-size: 13px;
  position: relative;
  margin-right: 6px;
  padding-right: 6px;
  font-weight: 500;
  text-shadow: none;
}

.breadcrumbs > ul > li > a::before {
  color: #797d80;
  content: "/";
  font-size: 12px;
  position: absolute;
  right: -2px;
  top: 0;
}

.breadcrumbs > ul > li:last-child a:before {
  display: none;
}

.GraphBox {
  height: 250px;
}

.rangeslab {
  font-size: 15px;
  color: #d6630f;
  font-weight: 500;
}

.card.bg-img h4 {
  font-size: 14px;
  color: #666666;
  margin: 2px 0;
}

.card-body {
  padding: 10px 15px;
}

.elob_admin_btn {
  border: none;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 14px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  transition: .4s;
  margin: 3px auto;
  max-width: 200px;
}

.elob_admin_btn:hover {
  color: #ccc;
}

.dashbrd-Image {
  float: left;
  margin-right: 15px;
  width: 140px;
}

.dashbrd-cntnt {
  float: left;
  width: calc(100% - 155px);
}

.header-top {
  float: left;
  margin-right: 15px;
}

.table-deviceStatus {
  margin-bottom: 5px !important;
}

.table-deviceStatus td {
  padding: 9px 7px;
  border-bottom: 1px solid #ececec;
}

.boldItem {
  color: #f57b21;
  font-weight: 600;
}

.signlstts {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.signlstts-danger {
  background-color: red;
}

.signlstts-success {
  background-color: green;
}

.signlstts-warning {
  background-color: #cece00;
}

.dashboard_DP {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.dashbrd-Body {
  margin-top: 20px;
}

.dashbrd_InhsBtn {
  position: absolute;
  left: 295px;
  transition: .4s;
}

.sidebar-closed .dashbrd_InhsBtn {
  left: 105px;
  transition: .4s;
}

.dashbrd_InhsBtn:hover {
  color: #707ca0 !important
}

.setngsBtn {
  display: inline-block;
  color: #101b3c !important;
  font-weight: 400;
  border: 0;
  font-size: 14px;
  height: 32px !important;
  border-radius: 2px !important;
  position: absolute;
  left: 315px;
  top: -3px;
  padding: 4px;
  transition: .4s;
  z-index: 999;
  text-transform: capitalize;
}

.setngsBtn i {
  font-size: 16px;
}

.setngsBtn:hover,
.topbar .menu-toggle:hover {
  color: #707ca0 !important
}

.sidebar-closed .setngsBtn {
  left: 125px;
  transition: .4s;
}


.setngsBtn.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.masterdrop {
  width: 200px;
  margin-top: 25px;
}

.dropdown-menu {
  box-shadow: 0 0 15px 1px rgba(64, 70, 74, .25) !important;
  /*padding: 15px 0 !important;*/
  border: 0 !important;
  border-radius: 0;
}

.dropdown-menu:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff;
  top: -14px;
  position: absolute;
  left: 12px;
}

.topbar ul.masterdrop {
  height: auto !important;
  line-height: 25px;
  padding: 0 0 0 0px;
  border-radius: 2px;
  /*overflow: hidden;*/
}

.topbar ul.masterdrop li {
  float: none;
}

.topbar ul.masterdrop li a {
  color: #2b2b2b !important;
  font-size: 13.7px;
  font-weight: 400;
  padding: 5px 16px;
}

.topbar ul.masterdrop li a i {
  margin-right: 5px;
}

.topbar ul.masterdrop li a:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.page_container {
  margin: 10px 10px 0;
  border-radius: 4px;
}

.masterpage_container {
  margin: 10px 8px 0;
  background-color: #fff;
  padding: 0 0px 0 10px;
}

.box_container {
  background-color: #fff;
  margin: 0px 0 0;
  border-radius: 0 0 3px 3px;
  padding: 15px 15px 10px;
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .07);
}

.table_container {
  background-color: #fff;
  margin: 0px 0 0;
  padding: 15px 15px 10px;
  position: relative;
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .07);
  border-radius: 0 0 3px 3px;
}

.pageHieght {
  max-height: calc(100vh - 62px);
  overflow-y: auto;
}

.gridBox {
  display: flex;
  flex-wrap: wrap;
}

.report-Topbox {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 15px 11px;
  transition: .4s;
  width: 100%;
  float: left;
}

.report-box {
  position: relative;
  background-color: #fff;
  width: 100%;
  float: left;
  border-radius: 4px;
  transition: .4s;
  transform: scale(1);
  margin-top: 10px;
}

.profileTable .report-box {
  margin-bottom: 10px;
  margin-top: 0;
}

.rolesttngs {
  width: 100%;
}

.rolesttngs td {
  font-size: 13px;
  border-bottom: 1px solid #ededed;
  padding: 4px 0px;
}

.rolesttngs td:first-child {
  width: 200px;
}

.rolesttngs td .switch {
  margin-top: 7px;
}

/* .report-box:hover {
    transform: scale(1.01);
    z-index: 3;
    box-shadow: -2px 5px 9px 7px rgba(0, 0, 0, .1);
} */

.text_Count {
  font-size: 19px;
  font-weight: 600;
  width: 100%;
  float: left;
  color: #222;
}

.text-base {
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin-top: 1px;
  float: left;
  color: #7a7e96;
  letter-spacing: 1px;
}
.notiCount_mainAnav
{
  background-color: #e92063;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  top: 9px;
  color: #fff;
  margin-right: 5px;
  position: absolute;
  right: 0;
}
.mobileshow
{
  display: none;
}
.sidebar-closed .notiCount_mainAnav
{
 display: none;
}
.report-box:after {
  content: "";
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 1px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  bottom: 0;
  top: 0;
  border-right: 1px solid #e2e2e2;
}

.boxVerticla .report-box:after {
  border-right: 0px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  height: 1px;
  top: auto;
  bottom: 0;
}

.boxVerticla [class*='col-']:last-child .report-box:after {
  border-bottom: 0px solid #e2e2e2;
}

.boxVerticla .report-box {
  margin-top: 0px;
  margin-bottom: 0px;
}

.boxVerticla .report-Topbox {
  padding: 11.8px 15px;
}

.boxIcon {
  display: block;
  width: 100%;
  float: left;
}

.reprt_Iconbox {
  float: left;
  width: 40px;
  margin-top: 15px;
}

.chartIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  color: #fff;
  text-align: center;
  float: right;
}

.reprt_Iconbox i {
  font-size: 23px;
}

.salesIconbg {
  background: #673ab7;
}

.iccomeIconbg {
  background: #e6bf00;
}

.cancellIconbg {
  background: #be0012;
}

.walletllIconbg {
  background: #12adc1;
}

.cartIconbg {
  background: #4caf50;
}

.userIconbg {
  background: #ce471c;
}

.deliverdIconbg {
  background: #00bcd4;
}

.chartboxgraph {
  float: right;
  border-radius: 13px;
  color: #fff;
  padding: 2px 9px;
  font-size: 10px;
}

.chartboxgraph i {
  font-size: 11px;
  float: right;
}

.upward {
  background-color: #559f00;
}

.downward {
  background-color: #f44336;
}

.wlletBg {
  background-color: #3c5c6e !important;
}

.wlletBg .text-base {
  color: #fff;
}

.wlletBg .text_Count {
  color: #fff;
}

.wlletBg .text_Title {
  color: #ff9b7b;
}

.downward i {
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-180deg);
}

.reprt_chartttl {
  float: left;
  width: calc(100% - 40px);
}

.text_Title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  color: #7a7e96;
  letter-spacing: 1px;
}

.main_title {
  font-size: 16px;
  letter-spacing: .1px;
}

.bb_title {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  line-height: 21px;
  padding-bottom: 10px;
  color: #565f75;
}

.mpdal_SubTitle {
  margin-bottom: 10px;
  line-height: 21px;
  color: #565f75;
  font-size: 15px;
  background-color: #f1f1f1;
  padding: 5px;
}

.text-info {
  color: #7b43b7 !important;
}

.Top_sellersUl {
  float: left;
  width: 100%;
  margin-bottom: 0 !important;
}

.Top_sellersUl li {
  float: left;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .05);
  padding: 10px;
  margin-bottom: 2px;
  transform: scale(1);
  border: 1px solid #eaf0ff;
  transition: .1s;
}

.Top_sellersUl li:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
  transform: scale(1.01);
}

.sellerLogo {
  float: left;
  margin-right: 5px;
  border-radius: 4px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}

.sellercontnt {
  float: left;
  margin-right: 5px;
  border-radius: 10px;
  width: calc(100% - 113px);
  height: 45px;
}

.sellercontnt h2 {
  font-size: 14px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a:hover .sellercontnt h2 {
  color: #000;
}

a:hover {
  color: #000;
}

.sellercontnt p {
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7a7e96;
}

.selling_rep {
  float: right;
  border-radius: 13px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  width: 65px;
  line-height: 24px;
  background-color: #559f01;
  margin-top: 10px;
}

.btnFull_default {
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  line-height: 44px;
  text-align: center;
  float: left;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .05);
  cursor: pointer;
  transition: .4s;
  font-weight: 600;
  margin-top: 10px;
}

.btnFull_default:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, .15);
}

.offcanvas-menu .offcanvas-button a.btn {
  width: 30px;
  height: 30px;
  float: right;
  line-height: 30px;
  border: 0;
  margin-top: 18px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 17px;
}

.notiIcnList {
  width: 100%;
  float: left;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.notiIcnList a:hover {
  color: #000;
}

.notiIcnBox {
  float: left;
  margin-right: 5px;
  width: 25px;
  font-size: 19px;
  color: #5d6c96;
}

.notiIcnCntnt {
  float: left;
  width: calc(100% - 30px);
}

.notiIcnCntnt h3 {
  font-size: 13px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 18px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #808eb5;
}

.notiIcnCntnt small {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 18px;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a:hover .notiIcnCntnt h3 {
  text-decoration: underline;
}
.nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:hover {
  color: rgba(0, 0, 0, .3);
  background-color: rgba(251, 251, 251, .3);
  border-color: transparent;
  cursor: not-allowed;
  position: relative;
}

.master_FlexBox {
  display: flex;
  flex-wrap: wrap;
}

.masternv {
  width: 210px;
  background: #fff;
  margin-left: -10px;
  height: calc(100vh - 67px);
  overflow-y: auto;
  position: relative;
  top: 0;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
  overflow-y: auto;
  transition: .4s;
  float: left;
  border-radius: 3px;
}

.insideTab {
  padding-top: 10px !important;
}

.masterContent {
  width: calc(100% - 205px);
  background: #fff;
  margin-left: 5px;
  position: relative;
  top: 0;
  padding: 0px 5px 0 9px;
  transition: .4s;
  float: left;
  border-radius: 3px;
  height: calc(100vh - 67px);
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 0;
}

.masterDrop_btn {
  font-size: 13px;
  clear: both;
  margin: 0;
  font-weight: 400;
  color: #434343;
  padding: 9px 5px 9px 14px;
  position: relative;
  cursor: pointer;
  letter-spacing: .1px;
}

.masternv h4 {
  width: 100%;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
  font-weight: 500;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
  font-size: 16px;
}

.masterDrop_btn i {
  position: absolute;
  right: 5px;
  transform: rotate(0deg);
  transition: .4s;
}

.masterDrop_btn.dropactive i {
  transform: rotate(180deg);
}

.masternv ul.nav-tabs {
  border-bottom: 0 solid #ddd;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  transition: transform 0.3s ease-out;
  transform: scaleY(0);
  transform-origin: top;
}

.masternv ul.dropaopen {
  height: auto;
  transition: transform 0.3s ease-out;
  transform: scaleY(1);
  opacity: 1
}

.dropactive,
.masterDrop_btn:hover {
  background-color: #055e96;
  color: #fff;
}

.masternv .nav-tabs > li {
  float: left;
  width: 100%;
}

.masternv .nav-tabs > li a {
  line-height: 22px;
  color: #5a6991 !important;
  padding: 6px 10px 6px 15px;
  font-weight: 400;
  width: 100%;
  float: left;
  cursor: pointer;
  transition: .4s;
  font-size: 13px;
  background-color: #fff;
  border: 0 !important;
}

.masternv .nav-tabs > li a.active {
  background-color: #f1f1f1;
}

.masternv .nav-tabs > li a:hover {
  background-color: #f1f1f1;
}

.masternv .nav-tabs li a.active {
  background-color: #f1f1f1 !important;
  color: #000 !important;
  border-radius: 0 !important;
}

.subtitle {
  font-size: 15px;
  margin: 5px 0 10px;
  font-weight: 500;
  color: #334754;
  letter-spacing: .1px;
}

.card-overX_scroll {
  width: 100%;
  overflow-x: auto;
}

.dataTables_length {
  float: left;
  width: 35%;
  margin-bottom: 5px;
}


.dataTables_length label {
  font-size: 13px;
  float: left;
}

.dataTables_length select {
  border: 1px solid #d8d8d8;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 5px;
}

.dataTables_filter {
  float: left;
  width: 65%;
}

.dataTables_filter label {
  font-size: 13px;
  float: right;
}

.dataTables_filter input {
  color: #4e5154;
  border: 1px solid #d8d8d8;
  padding: 4px 7px;
  border-radius: 4px;
  margin-left: 5px;
}

.card-header_bottom {
  border-bottom: 1px solid #e6e7eb;
  margin-bottom: 10px;
}

.statusBtn {
  display: inline-block;
  width: 85px;
  line-height: 23px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
}

.Addbtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 50%;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 17px;
  box-shadow: 0 0 15px 1px rgba(64, 70, 74, .25) !important;
}

button:focus, btn:focus {
  outline: none !important;
  border: 0 !important;
}

.packageBtn_Alnmnt {
  margin-top: 16px;
  float: right;
}

.pull-right {
  float: right !important;
}

.flexTitlBox {
  display: flex;
  flex-wrap: wrap;
}

.tableBtn {
  padding: 3px 3px;
  color: #44426b;
  cursor: pointer;
  transition: .4s;
  border: 1px solid #9e9db2;
  border-right: 0;
  line-height: 21px;
}

.tableBtn:hover {
  color: #fff !important;
}

.modal-footer > :not(:last-child) {
  margin-right: 1px !important;
}

.modal-footer > :not(:first-child) {
  margin-left: 1px !important;
}

.tableBtn:first-child {
  border-radius: 3px 0 0 3px;
}

.tableBtn:last-child {
  border-radius: 0px 3px 3px 0;
  border-right: 1px solid #9e9db2;
}

.tableBtn.editbtn:hover,
.tableBtn.sms:hover,
.tableBtn.deltbtn:hover,
.tableBtn.details:hover,
.tableBtn.download:hover {
  color: #fff;
  opacity: .9;
}

.tableBtn.editbtn:hover {
  background-color: #055e96;
  border-color: #055e96;
}

.tableBtn.deltbtn:hover {
  background-color: #d93a37;
  border-color: #d93a37;
}

.tableBtn.details:hover {
  background-color: #055e96;
  border-color: #055e96;
}

.tableBtn.download:hover {
  background-color: #8b4484;
  border-color: #8b4484;
}

.tableBtn.sms:hover {
  background-color: #6864d2;
  border-color: #6864d2;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0px;
  font-size: 12px;
}

.dpMainBox {
  display: flex;
  flex-wrap: wrap;
}

.dpBox {
  width: 195px;
  box-shadow: 8px 7px 20px rgba(0, 0, 0, 0.08);
  height: calc(100vh - 160px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0px;
}

.dpCntntBox {
  width: calc(100% - 205px);
  margin-left: 10px;
}

.dpCntntBox .tab-content {
  height: calc(100vh - 160px);
  overflow-y: auto;
  background-color: #f8f9fa;
}


.dpBox_inner {
  height: 120px;
  position: relative;
  overflow: hidden;
}

.dpBox_inner img {
  height: auto;
  width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dpBox_inner_user {
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.dpBox_inner_user img {
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-right: 10px;
}

.dpInnerCntntBox h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

.rateBox {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  margin-left: 25px;
}

.rateBox i {
  font-size: 20px;
  color: #ccc;
}

.rateBox.OneStar i:first-child {
  color: #ffc107;
}

.rateBox.TwoStar i:first-child,
.rateBox.TwoStar i:nth-child(2) {
  color: #ffc107;
}

.rateBox.ThreeStar i:first-child,
.rateBox.ThreeStar i:nth-child(2),
.rateBox.ThreeStar i:nth-child(3) {
  color: #ffc107;
}

.rateBox.FourStar i:first-child,
.rateBox.FourStar i:nth-child(2),
.rateBox.FourStar i:nth-child(3),
.rateBox.FourStar i:nth-child(4) {
  color: #ffc107;
}

.rateBox.FiveStar i:first-child,
.rateBox.FiveStar i:nth-child(2),
.rateBox.FiveStar i:nth-child(3),
.rateBox.FiveStar i:nth-child(4),
.rateBox.FiveStar i:last-child {
  color: #ffc107;
}

.dpInnerCntntBox h5 i,
.dpInnerCntntBox h6 i {
  width: 20px;
  float: left;
}

.dpInnerCntntBox h6 {
  font-size: 13px;
  color: #5f5f5f;
  font-weight: 400;
  line-height: 22px;
}

.tabs-left {
  border-bottom: none;
  margin-top: 15px;
}

.tabs-left.nav {
  display: block;
}


.tabs-left > li > a {
  width: 100%;
  float: left;
  padding: 7px 2px 7px 12px;
  border: 0 !important;
  font-size: 14px;
  background: #fff !important;
  color: #000 !important;
}

.tabs-left > li > a.active,
.tabs-left > li > a.active:hover,
.tabs-left > li > a.active:focus {
  background: #055e96 !important;
  border-radius: 0px;
  position: relative;
  color: #fff !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

/*.tabs-left > li > a.active::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #2962ff;
  display: block;
  width: 0;
}*/
.tableDue tr:first-child td {
  border: 0;
}

.tableDue tr td {
  font-size: 14px;
}

.tabInner_hdng {
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  width: 100%;
  color: #055e96;
}

.tabInner_hdng_sub {
  font-size: 15px;
  color: #717171;
  padding: 5px 5px 0;
}

.modalInner_hdng {
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid #d8d8d8;
  padding: 6px 10px;
  width: 100%;
  color: #f8f8f8;
  background-color: #727272;
}

.row_breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.btnEcmrs {
  padding: 6px 12px;
  text-transform: uppercase;
  background-color: #055e96 !important;
  color: #fff !important;
  font-weight: 400;
  border: 0;
  font-size: 14px;
  height: 32px !important;
  border-radius: 3px !important;
  float: right;
}

.leftBoxHalf {
  width: calc(50% - 15px);
  float: left;
  margin-right: 15px
}

.rightboxHalf {
  width: calc(50% - 15px);
  float: left;
  margin-left: 15px
}

.flexField {
  display: flex;
  flex-wrap: wrap;
}

.categories_selected {
  width: 100%;
  margin-top: 8px;
  float: left;
}

.categories_selected li {
  margin-right: 2px;
  cursor: default;
  background-color: #055e96;
  color: #fff;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  position: relative;
  float: left;
}

.categories_selected h4 {
  font-size: 14px;
}


.documentBox {
  background-color: #fff;
}

.documentBox ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.documentBox ul li {
  float: left;
  width: calc(16.6% - 8px);
  height: 200px;
  margin: 4px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.documentBox ul li img {
  width: 100%;
  height: 100%
}

.documentBox ul li h4 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  padding: 8px 4px;
  color: #fff;
  font-size: 13px;
  width: 100%;
  text-align: center;
  transition: .4s;
}

.documentBox ul li i {
  background-color: #15a085;
  width: 26px;
  height: 26px;
  position: absolute;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  top: -50px;
  right: 0;
  left: 0;
  margin: auto;
  line-height: 26px;
  box-shadow: 0 1px 20px #222;
  transition: .4s;
}

.documentBox ul li:hover i {
  top: 50%;
}

.documentBox ul li i:hover {
  background-color: #222;
}

.documentBox ul li:hover h4 {
  background-color: #055e96;
}

.Filter_tags {
  margin-bottom: 0px;
}

.Filter_tags li {
  cursor: default;
  background-color: #055e96;
  color: #fff;
  border-radius: 2px;
  padding: 3px 28px 3px 8px;
  font-size: 12px;
  position: relative;
  float: left;
  height: 24px;
  margin: 1px;
}

.Filter_tags li i {
  color: #ccc;
  font-size: 14px;
  /*background-color: #ccc;*/
  border-radius: 50%;
  width: 15px;
  float: right;
  height: 15px;
  line-height: 15px;
  text-align: center;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: .4s;
  cursor: pointer;

}

.Filter_tags li i:hover {
  color: #ff6e6e;
  /*background-color: #ff1515;*/
}

.fullwidth {
  width: 100%;
  float: left;
  background: #fff;
}

#container {
  width: 100%;
  float: left;
}

.flexboxinvoice {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 20px 5px 10px;
}

.printInvc_Btn {
  float: right;
  padding: 6px 14px;
  background-color: #055e96;
  border-radius: 4px;
  font-size: 13px;
  color: #fff !important;
  transition: .4s;
}

.verfctn_Btn {
  float: right;
  padding: 6px 14px;
  border: 1px solid #055e96;
  color: #055e96 !important;;
  border-radius: 4px;
  font-size: 13px;
  transition: .4s;
  position: relative;
  margin-top: 7px;
  transition: .4s;
}

.verfctn_Btn:hover {
  border: 1px solid #055e96;
  background-color: #055e96 !important;
  color: #fff !important;
}

.Newseller_Count {
  position: absolute;
  background-color: #e92063;
  color: #fff;
  font-size: 11px;
  width: fit-content;
  padding: 2px 7px;
  right: -5px;
  top: -15px;
  border-radius: 17px;
}

.printInvc_Btn:hover {
  opacity: .8;
}

#container .invoice-masthead {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px
}

#container .invoice-masthead:after {
  content: '';
  display: table;
  clear: both
}

#container .invoice-masthead > .invoice-text {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07)
}

#container .invoice-masthead > .invoice-brand {
  display: inline-block
}

#container .invoice-logo > .media-left, #container .invoice-logo > .media-body {
  display: table-cell;
  float: none;
  vertical-align: middle
}

#container .invoice-details {
  /*min-width: 260px;*/
  float: left;
}

#container .invoice-details td {
  padding: 2px 0;
  font-size: 13px;
  font-weight: 500;
}

#container address {
  font-size: 13px;
  line-height: 24px;
}

#container .badge {

  padding: 6px 8px;
  font-size: 12px;
  font-weight: 400;
}

#container .statusBtn {

  width: 120px;
}

.orderSelect, .orderSelect:focus, .orderSelect:active {
  background-color: #055e96;
  max-width: 120px;
  float: right;
  color: #fff !important;
  border: 0;
  border-radius: 4px !important;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}


.orderSelect option {
  background-color: #222;
  color: #fff;
}

.customerSelect, .customerSelect:focus, .customerSelect:active {
  background-color: #055e96;
  max-width: 160px;
  float: right;
  color: #fff !important;
  border: 0;
  border-radius: 4px !important;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.customerSelect option {
  background-color: #222;
  color: #fff;
}


.bder-right {
  border-right: 1px solid #dbdbdb;
}

#container .invoice-summary thead > tr > th {
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 14px;
}

#container .invoice-summary tbody > tr > td {
  vertical-align: middle;
  font-size: 13px;
}

.bgstatus_Invoice {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  float: left;
}

#container .invoice-summary .min-col {
  width: 10%;
  min-width: 100px
}

#container .invoice-total {
  max-width: 320px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

#container .invoice-total > tbody > tr td {
  border: 0 !important;
  text-align: right;
  padding: 6px 5px;
}

#container .invoice-total > tbody > tr td:first-child {
  color: #4d627b;
  font-weight: 600;
  font-size: 13px;
}

#container .invoice-total > tbody > tr td:last-child {
  width: 200px
}

.Totalrate {
  font-size: 17px;
  font-weight: 600;
}

.detail_bodyBg {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.detail_bodyBg strong {
  font-weight: 500;
  font-size: 13px;
  color: #7c7c7c;
}

.detail_bodyBg p {
  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.ticketraise li {
  width: calc(25% - 16px);
  float: left;
  margin: 8px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, 0);
  position: relative;
  font-size: 15px;
}

.ticketraise li a {
  padding: 25px 15px;
  float: left;
  width: 100%;
  text-align: center;
}

.DuepayTab li a {
  background-color: #fff;
  border-color: #f1f1f1 #f1f1f1 #f1f1f1 !important;
}

.DuepayTab li a.active, .DuepayTab li a.active:focus {
  background-color: #fff !important;
  cursor: default;
  border-bottom: 1px solid #055e96 !important;
}

.tabcmn a {
  padding: 7px 10px;
  background-color: #fff !important;
}
.navinnertab .tabcmn a.active,
.navinnertab .tabcmn a.active:focus {
  padding: 7px 10px;
  color: #ffffff !important;
  background-color: #055e96 !important;
}
.navinnertab
{
  background-color: #c4c9cc;
  padding: 12px 8px;
}
.payBtn
{
  position: absolute;
  right: 10px;
  top: 8px;
}
.ticketraise li span {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  color: #7e7e7e;
  top: -9px;
  right: -7px;
  font-size: 12px;
}

.ticketraise li span.active {
  background-color: #e92063;
  color: #fff;
}

.ticket_container {
  display: flex;
  flex-wrap: wrap;
}

.ticket_container {
  display: flex;
  flex-wrap: wrap;
}

.ticket_chatContainer {
  width: calc(100% - 380px);
  float: left;
  margin: 0 0 0 20px;
  position: relative;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.ticket_profile_history {
  width: 360px;
  background-color: #fff;
  float: left;
  height: calc(100vh - 135px);
  overflow-y: auto;
}

.ticketStatusDrop, .ticketStatusDrop:focus, .ticketStatusDrop:active {
  background-color: #055e96;
  color: #fff !important;
  border: 0;
}

.ticketStatusDrop option {
  background-color: #808080;
  color: #fff;
}

.chatTickets {
  margin-top: 10px;
  height: calc(100vh - 195px);
  margin-bottom: 0;
  overflow-y: auto;
}

.chatTickets li {
  background-color: #fff;
  padding: 20px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.chatTickets p {
  font-size: 13px;
}

.chatTickets li.ticketQustn {
  margin-right: 20px;
  border-left: 4px solid #4464c0;
}

.chatTickets li.ticketAnswr {
  margin-left: 20px;
  text-align: right;
  border-right: 4px solid #c06644;
}

.chatTickets li.ticketAnswr h4 img {
  float: right !important;
  margin-right: 0px;
  margin-left: 10px;
}

.chatTickets li h4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  float: left;
  border-bottom: 1px dashed #055e96;
  margin-right: 10px;
}

.chatBox_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: calc(100% - 0px);
  padding: 5px 10px 5px 40px;
}

.chatBox_bottom:after {
  content: "\f630";
  font-family: "Material Design Icons";
  position: absolute;
  left: 8px;
  top: 7px;
  font-size: 24px;
  color: #a5a5a5;
}

.chatBox_bottom input {
  width: calc(100% - 50px);
  border: 0;
  margin-bottom: 0;
  height: 40px;
  font-size: 14px;
  border-right: 1px solid #dddddd;
  color: #ab4e2b;
}

.chatsuBmit {
  width: 40px;
  margin-left: 10px;
  border: 0;
  background-color: transparent;
  font-size: 41px;
  color: #13af84 !important;
  line-height: 40px;
  float: right;
}

.chatsuBmit:after {
  content: "\f48a";
  font-family: "Material Design Icons";
}

.ticket_profile_history .rateBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ticket_profile {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  margin: 20px auto;
  background-color: #f5f5f5;
}

.ticket_profile img {
  width: 90%;
  max-height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ticket_history {
  margin-top: 20px;
}

.ticket_profile_history .nav-tabs .nav-item {
  width: 50%;
  border: 0;
  text-align: center;
}

.ticket_history .nav-tabs .nav-item {
  border: 0;
}

.ticket_history .nav-tabs .nav-link {
  color: #495057;
  background-color: #f5f5f5;
  border-radius: 0;
}

.ticket_history .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #c06644;
}

.Details_listImage {
  height: 48px;
  width: auto;
}

.chatHistory {
  margin-top: 5px;
}

.chatMain-titlebox {
  height: 44px;
  width: 44px;
  background-color: #f1f1f1;
  line-height: 44px;
  text-align: center;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}

.chatMain-title {
  font-size: 15px;
  padding-top: 11px;
}

.chatHistory li {
  width: 100%;
  float: left;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 5px;
  cursor: pointer;
}

.chatHistory li h4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  float: left;
  border-bottom: 1px dashed #055e96;
  margin-right: 10px;
}

.chatHistory li h4 {
  font-size: 15px;
  line-height: 36px;
  width: calc(100% - 80px);
  float: left;
}

.chatHistory li span.date {
  width: 75px;
  margin-left: 5px;
  font-size: 10px;
  text-align: right;
  line-height: 36px;
  color: #055e96;
  float: right;
}

.chatHistory li p {
  font-size: 13px;
  clear: both;
  padding-left: 20px;
  border-left: 1px solid #055e96;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 23px;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chatHistory li:hover p {
  color: #000;
}

.dpBox_user {
  width: 120px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  height: 120px;
  position: relative;
  overflow: hidden;
  border: 1px dashed #055e96;
  margin-bottom: 10px;
}

.dpBox_user img {
  position: absolute;
  width: calc(96% - 2px);
  height: calc(96% - 2px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.userCntntBox {
  width: calc(100% - 160px);
  float: left;
  padding-top: 10px;
}

.userCntntBox h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

.userCntntBox h4 {
  margin-bottom: 5px;
  display: block;
  float: left;
  margin-right: 2px;
  background-color: #055e96;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
}

.userCntntBox h6 {
  font-size: 13px;
  font-weight: 400;
  color: #4b4b4b;
}

.userCntntBox address {
  font-size: 13px;
  font-weight: 400;
  color: #5f5f5f;
}

.primaryclr {
  color: #055e96 !important;
}

.secondarycolr {
  color: #d0291d !important;
  font-size: 12px;
}

.bg-primary {
  background-color: #055e96 !important;
}

.bg-primary:hover {
  background-color: #055e96 !important;
  opacity: .9;
}

.feedlogo {
  width: 45px;
  height: 45px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #79a0b8;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px;

}

.feedlogo img {
  background-color: #f8f8f8;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  float: left;
  border-radius: 50%;
}

.feedTitle {
  float: left;
  width: calc(100% - 70px);
  padding-top: 5px;
}

.feedTitle h4 {
  font-size: 14px;
  margin-bottom: 4px;
}


.feedTitle h5 {
  font-size: 12px;
  font-weight: 400;
  color: #7b7b7b;
}

.feedDescription {
  font-size: 13px;
  margin-top: 10px;
  color: #000;
  line-height: 21px;
}

.btnradis50 {
  border-radius: 50px;
}

.userAddress_List {
  width: 100%;
  float: left;
}

.userAddress_List li {
  width: calc(25% - 10px);
  float: left;
  font-size: 13px;
  padding: 15px;
  line-height: 24px;
  margin: 5px;
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .07);
  position: relative;
}

.userAddress_List li address {
  color: #5d5d5d;
}

.defaultAdres:after {
  content: "\f240";
  font-family: "Material Design Icons";
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #0aa700;
  font-size: 20px;
  line-height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 10px;
}

.reviewMdal_ratebox .rateBox {
  margin-bottom: 10px;
  margin-left: 7px;
}

.reviewMdal_ratebox .datereview {
  font-size: 12px;
  color: #7c2818;
  margin-bottom: 8px;
}

.reviewMdal_ratebox p {
  font-size: 13px;
}

.reviewPr_name {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.reviewDp {
  width: 36px !important;
  height: 36px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #ae5239;
  float: left;
  margin-right: 5px;
}

.userwallet {
  background-color: #1c8cce;
  width: 95px;
  height: 95px;
  float: left;
  padding-top: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  margin-left: 40px;
  border: 3px dotted #fff;
}

.walletFont {
  color: #ffffff;
}

.userwallet .mdi-wallet-giftcard {
  display: block;
  font-size: 20px;
}

.userCntnt {
  float: left;
}

.hh-grayBox {
  background-color: #F8F8F8;
  padding: 35px 15px 15px;
}

.pt45 {
  padding-top: 45px;
}

.order-tracking {
  text-align: center;
  width: 20%;
  position: relative;
  display: block;
}

.order-tracking .is-complete {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 0px solid #AFAFAF;
  background-color: #bfbfbf;
  margin: 0 auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  z-index: 2;
}

.order-tracking .is-complete:after {
  display: block;
  position: absolute;
  content: '';
  height: 14px;
  width: 7px;
  top: -2px;
  bottom: 0;
  left: 5px;
  margin: auto 0;
  border: 0px solid #AFAFAF;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.order-tracking.completed .is-complete {
  border-color: #27aa80;
  border-width: 0px;
  background-color: #27aa80;
}

.order-tracking.completed .is-complete:after {
  border-color: #fff;
  border-width: 0px 3px 3px 0;
  width: 7px;
  left: 11px;
  opacity: 1;
}

.order-tracking p {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 0;
  line-height: 20px;
}

.order-tracking p span {
  font-size: 12px;
  font-weight: 600;
}

.order-tracking.completed p {
  color: #000;
}

.order-tracking::before {
  content: '';
  display: block;
  height: 3px;
  width: calc(100% - 40px);
  background-color: #bfbfbf;
  top: 13px;
  position: absolute;
  left: calc(-50% + 20px);
  z-index: 0;
}

.order-tracking:first-child:before {
  display: none;
}

.order-tracking.completed:before {
  background-color: #27aa80;
}

.tab_Title {
  font-size: 16px;
  margin-top: 20px;
  color: #334754;
  margin-bottom: 0;
  margin-left: 5px;
}

.add_mangmnt {
  margin: 10px 10px 0;
  width: 100%;
  float: left;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;

}

.add_mangmnt li {
  width: calc(25% - 10px);
  margin: 5px;
  float: left;
  background-color: #fff;
  padding: 15px 15px 10px;
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .12);
  transition: .4s;
}

.add_mangmnt li:hover {
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .3);
}

.bannerImagBox, .positionImagBox {
  width: 100%;
  float: left;
  height: 135px;
  overflow: hidden;
  position: relative;
}

.positionImagBox {
  height: 200px !important;
}

.bannerImagBox img, .positionImagBox img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  max-height: 100%;
}

.bannercontntBox {
  float: left;
  width: 100%;
  border-bottom: #d8d8d8 1px solid;
  padding: 10px 0 20px;
}

.bannercontntBox h4 {
  font-size: 15px;
  margin-bottom: 4px;
}

.bannercontntBox p {
  color: #494949;
  max-height: 70px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 22px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
  float: left;
  width: 100%;
}

.expired_date {
  font-size: 13px;
  color: #4a6bab;
  margin-bottom: 7px;
  font-weight: 500;
  width: 100%;
  float: left;
}

.bannerbtnBox {
  padding: 10px 0;
  width: 100%;
  float: left;
}

.Add_PriceBox {
  float: left;
  width: 60px;
  font-weight: 600;
  color: #f33d11;
  font-size: 16px;
  line-height: 30px;
}

.Add_BtnBox {
  float: left;
  width: calc(100% - 60px);
}

.btn-purchase {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 8px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 2px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  float: right;
  color: #fff !important;
  background-color: #055e96 !important;
  border-color: #055e96 !important;
  margin-left: 2px;
}

.btn-purchase:hover {
  opacity: .8;
}

.tabBoxScroll {
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;
}

.Purchase_Modal {
  max-width: 900px;
}

.EditAddRate_Modal {
  max-width: 700px;
}

.changeAdd_Modal {
  max-width: 640px;
}

.addmortable table td textarea.form-control {
  height: 50px;
}

.pricedescrptn {
  font-size: 13px;
  color: #000000;
}

.RenewPACKAGE {
  border: 2px solid #055e96;
}

.select_PageBox {
  background-color: #ffffff;
  /*box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .1);*/
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}

.m_t10 {
  margin-top: 10px;
}

.m_t5 {
  margin-top: 5px;
}

.m_b5 {
  margin-bottom: 5px;
}

.select_paymentBox {
  background-color: #ffffff;
  /*box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .1);*/
  padding: 8px;
  /*margin-bottom: 20px;*/
  border-radius: 4px;
  width: 100%;
}

.select_paymentBox .form-control {
  border: 0;
  border-bottom: 1px solid #dddddd;
}

.select_FlashBox {
  background-color: #ffffff;
  /*box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .1);*/
  padding: 15px;
  /*margin-bottom: 20px;*/
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
}

.select_FlashBox .btn-info {
  color: #fff !important;
}

.select_PageBox .form-control, .select_PageBox .form-control:focus {
  border-bottom: 1px solid #dddddd;
  margin-top: 5px;
  border-radius: 4px;
}

.maxwidth800 {
  max-width: 800px !important;
}

.maxwidth400 {
  max-width: 400px !important;
}

.tablefield {
  padding: 4px;
  border: 1px solid #aeaeae;
  border-radius: 3px;
}

.flashdesalBtn_alnmnt {
  margin-top: 45px;
  color: #fff !important;
  padding: 7px 14px;
}

.requstDnld {
  width: 30px;
  height: 30px;
  border: 1px #ccc solid;
  float: left;
  border-radius: 50%;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  background-color: #f1f1f1;
  color: #062f4c;
  cursor: pointer;
}

table.ProductRqst_modalTable th {
  padding: 8px 5px !important;
  font-size: 13px !important;
  font-weight: 500;
  vertical-align: middle;
}

table.ProductRqst_modalTable td {
  padding: 8px 5px !important;
  font-size: 13px !important;
  font-weight: 400;
  vertical-align: middle;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 200px;
}

.notiCntnt_Modal {
  margin-top: 5px;
  padding: 5px;
  font-size: 13px;
  margin-bottom: 0 !important;
  line-height: 23px;
}

.CommonDate {
  margin-left: 5px;
  font-size: 10px;
  color: #c06644;
}

.serach_Noti_Customer ul {
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .12);
  background-color: #fff;
  padding: 10px 15px;
  width: 100%;
  float: left;
  max-height: calc(100vh - 170px);
  margin-bottom: 0;
  overflow-y: auto;
}

.serach_Noti_Customer ul li a {
  font-size: 14px;
  color: #505050;
  line-height: 21px;
  padding: 3px 5px;
  width: 100%;
  float: left;
}

.serach_Noti_Customer li a:hover {
  color: #055e96 !important;
}

.serach_Noti_Customer_SearchBox {
  position: relative;
  width: 100%;
  float: left;

}

.serach_Noti_Customer_SearchBox .Su_Select2Search, .serach_Noti_Customer_SearchBox .Su_Select2Search:focus {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  padding-right: 30px;
  margin-bottom: 5px;
}

.serach_Noti_Customer_SearchBox:after {
  content: "\f349";
  position: absolute;
  font-family: "Material Design Icons";
  right: 6px;
  top: 0px;
  font-size: 22px;
  color: #8d8d8d;
}

/*******************/
.push_Noti_Customer {
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 45px;
  box-shadow: 1px 7px 15px 1px rgba(62, 57, 107, .12);
  background: #fff;
}

.push_Noti_Customer ul {
  background-color: #fff;
  padding: 0px 15px 10px;
  width: 100%;
  float: left;
  max-height: calc(100vh - 370px);
  margin-bottom: 0;
  overflow-y: auto;
  margin-top: 75px;
}

.push_Noti_Customer_SearchBox {
  width: 100%;
  float: left;
  position: absolute;;
  top: 0px;
}

.push_Noti_Customer_SearchBox .Su_Select2Search, .serach_Noti_Customer_SearchBox .Su_Select2Search:focus {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  padding-right: 30px;
  margin-bottom: 5px;
}

.push_Noti_Customer_SearchBox:after {
  content: "\f349";
  position: absolute;
  font-family: "Material Design Icons";
  right: 6px;
  top: 0px;
  font-size: 22px;
  color: #8d8d8d;
}

.selactAllBox {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  position: absolute;
  z-index: 9;
  top: 36px;
  width: 100%;
  padding: 0px 0 6px;
}

.push_Noti_CustomerHide {
  display: none;
  opacity: 0;
}

/*************  produts ******************/

#ProductType {
  padding: 20px 30px;
}

#ProductType label {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  color: #555353;
  font-size: 14px;
  margin-bottom: 1px;
}

#ProductType label + label {
  margin-top: 10px;
}

#ProductType input[type="radio"] {
  opacity: 0;
  width: 40px;
  height: 25px;
  margin: 0;
}

#ProductType .dark, #ProductType .light {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-transition: all 500ms cubic-bezier(0.4, 1.7, 1, 1);
  transition: all 500ms cubic-bezier(0.4, 1.7, 1, 1);
}

#ProductType .dark {
  background-color: #055e96;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  box-shadow: 0 0 8px #055e96;
}

#ProductType .light {
  background-color: #c7c7c7;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 8px #c7c7c7;
}

#ProductType .wrapper label:nth-child(1) input:checked + .dark {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

#ProductType .wrapper label:nth-child(2) input:checked + .light {
  -webkit-transform: translateY(-35px);
  transform: translateY(-35px);
}

.fullwidth_BtnBox {
  /*background-color: #fff;*/
  padding: 5px;
  width: 100%;
  float: left;
}

.fullwidth_BtnBox .btn {
  float: right;
}

.MultipleUplaodBox {
  border: 2px dashed #055e96;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;
}

.MultipleUplaodBox .uploadImgfield {
  width: 100% !important;
}

.MultipleUplaodBox p {
  font-size: 12px;
  top: 65px;
  position: absolute;
  z-index: 2;
}

.MultipleUplaodBox .custom-file-input {
  height: 100px;
  width: 100%;
  z-index: 9;
  background: transparent;
}

ul.Pr_imagePrview li {
  width: 130px;
  height: 130px;
  float: left;
  padding: 6px;
  position: relative;
  overflow: hidden;
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin: 5px 5px;
}

ul.Pr_imagePrview li img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.pRImgBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background-color: #f80000;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  color: #d0d0d0 !important;
  font-size: 16px;
}

.pRImgBtn:hover {
  color: #fff !important;
}

.font-14px {
  font-size: 14px;
}

.togleBtn {
  font-size: 14px;
  background-color: #414c68;
  padding: 5px;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #fff !important;
}

.policyText {
  font-size: 13px;
  line-height: 21px;
}

/*.bulkPriceBox
{
  background-color: #f1f1f1;
  padding: 20px 10px;
  margin-top: 10px;
}*/

/*********************************************************************************************/

@media (max-width: 1380px) {
  .documentBox ul li {
    width: calc(20% - 8px);
    height: 200px;
  }
}

@media (max-width: 1280px) {
  .col-xl-10-2 {
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}

@media (max-width: 980px) {
  .documentBox ul li {
    width: calc(33.3% - 8px);
    height: 200px;
  }

  .ticketraise li {
    width: calc(33.3% - 16px);
  }

  .add_mangmnt li {
    width: calc(33.3% - 10px);
    padding: 15px 5px 10px;
  }

}

@media (max-width: 767px) {

  .mobileshow
  {
    display: inline-block;
  }

  .pad_right5 {
    padding-right: 0px !important;
    padding-left: 0 !important;
  }

  .pad_leftright10 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .pad_right10 {
    padding-right: 0px !important;
    padding-left: 0 !important;
  }

  .pad_leftright5 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .pad_right2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .pad_leftt2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .pad_leftt5 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .pad_leftright2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  #container .invoice-details {
    min-width: 100%;
    float: left;
  }

  .col-xl-10-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pageHieght {
    max-height: calc(100vh - 0px);
    overflow-y: auto;
  }

  .ticketraise li {
    width: calc(50% - 16px);
  }

  .fullpage_table_Scroll {
    overflow-y: auto;
    max-height: unset;
    min-width: 900px;
  }

  .page_container {
    padding-bottom: 60px;
  }

  .nav-tabs .nav-item {
    margin-bottom: 0px;
  }

  .add_mangmnt li {
    width: calc(50% - 10px);
    padding: 15px 5px 10px;
  }

  .printInvc_Btn, .verfctn_Btn {
    float: left;
    margin-top: 15px;
  }

  .bder-right {
    border-right: 0px solid #ccc;
  }

  .table_container {
    padding: 15px 15px 60px;
  }

  .topbar {
    background: #2962ff;
  }

  .dropdown-menu:before {
    display: none !important;
  }

  .dpBox {
    width: 0;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 10px;
    box-shadow: none;
    left: -200%;
    position: absolute;
    transition: .2s;
    opacity: 0;
    height: 0;
  }
  .dpBoxShow{
    left: 0%;
    position: relative;
    transition: .2s;
    opacity: 1;
    width: 100%;
    height: auto;
  }

  .dpCntntBox {
    width: calc(100% - 0px);
    margin-left: 0px;
    margin-top: 10px;
  }

  .setngsBtn,
  .sidebar-closed .setngsBtn {
    left: 30px;
    color: #fff !important;
  }

  .sidebar-closed .dashbrd_InhsBtn {
    left: 15px;
    z-index: 1;
    color: #fff !important;
  }


  .topbar a {
    color: #fff;
  }

  .setngsBtn:hover,
  .topbar .menu-toggle:hover,
  .topbar a:hover {
    color: #ccc !important;
  }

  .dataTables_length {
    display: none;
  }

  .dpCntntBox .tab-content {
    height: auto;
    overflow-y: auto;
  }

  .ticket_profile_history {
    height: auto;
    overflow-y: auto;
  }

  .ticket_chatContainer {
    width: calc(100% - 0px);
    margin: 0 0 0 5px;
    height: calc(100vh - 130px);
  }

  .dataTables_filter {
    width: 100%;
  }

  .chatTickets li {
    background-color: #fff;
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }
}

@media (max-width: 560px) {
  .documentBox ul li {
    width: calc(50% - 8px);
    height: 200px;
  }

  .ticketraise li {
    width: calc(100% - 16px);
  }

  .col-xl-10-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .rightheader li {
    width: 140px;
    float: left;
    margin-left: 0px;
    margin-right: 3px;
  }
}

@media (max-width: 360px) {
  .documentBox ul li {
    width: calc(100% - 0px);
    height: auto;
    margin: 4px 0;
  }

  .add_mangmnt li {
    width: calc(100% - 0px);
    margin: 10px 0;
  }

}
