<!DOCTYPE html>
<html lang="en">
<body>
	<head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="src/assets/js/card.js"></script>
	</head>
	<!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area " id="sticker" style=" background-color: rgba(87, 87, 87, 0.5)  ;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap" >
						<!-- logo -->
						<div class="site-logo">
							<a >
								<img src="assets\img\products\pngwing.com.png" alt="" style="height: 60px;float: left;">
							</a>
						</div>
						<div class="site-logo">
							<a href="index.html">
							</a>
						</div>
						<nav class="main-menu" >
							<ul>
								<li class="current-list-item"><a href="#">Login </a>
							</ul>
						</nav>
						<nav class="main-menu" >
							<ul>
								<li class="current-list-item"><a href="#">Contact</a>
							</ul>
						</nav>
						<nav class="main-menu" >
							<ul>
								<li class="current-list-item"><a href="#">Home</a>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Organic</p>
							<h1>Delicious Fruits</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>
            <!-- <div class="product-section mt-150 mb-150"> -->
                <div class="container">
        
                    <div class="row">
                        <div class="col-md-12"  >
                            <div class="product-filters" >
                                <ul>
                                    <li class="product-filter" (click)="categoryData('All')">All</li>
                                    <li   class="product-filter"(click)="categoryData('Premium')">Premium</li>
                                    <li   class="product-filter"(click)="categoryData('Tamilnadu')">Tamilnadu</li>
                            	</ul>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4 col-md-6 text-center" *ngFor="let fruits of fruit" >
                            <div class="single-product-item" style="height: 660px;">
                                <div class="product-image">
                                    <a><img style=""class=""src="{{fruits.p_img}}" alt=""></a>
                                </div>
                                <h3>{{fruits.p_name}}</h3>
                                <p class="product-price"><span>Per Kg</span>{{fruits.p_cost}}</p>
                                <p class="" >{{fruits.p_details}}</p>
								<label>Enter Your Quantity..</label><br><input type="number" ><br>
                                <a  class="cart-btn" id="myBtn" onclick="document.getElementById('id01').style.display='block'" 
								(click)="product('p_id')"><i class="fas fa-shopping-cart"></i>Add to Cart  </a>
								<div class="w3-container">
									<!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Add to Cart</button> -->
								  
									<div id="id01" class="w3-modal" style="border-radius: 4px;">
									  <div class="w3-modal-content" style="width: 400px;border-radius: 6px;">
										<div class="w3-container" >
										  <span onclick="document.getElementById('id01').style.display='none'" 
										  class="w3-button w3-display-topright">&times;</span>
										  <p><img class="image1" src="{{fruits.p_img}}"></p>
										  <p class="product-price"><span>Per Kg</span>{{fruits.p_cost}}</p>
										  <p class="" >{{fruits.p_details}}</p>
										  <p></p>
										</div>
									  </div>
									</div>
								  </div> 
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a   class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
		</div>
	</div>
						
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
				</div>
				<div class="col-lg-3 col-md-6">
					
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
	

</body>
</html>