.btn{
    border-radius: 50%;
    background-color: orangered;
    height: 30px;
    width: 30px;
}
button
{
  border: 1px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #a75e33;
  margin: 0 8px;
  cursor: pointer;
}
.button i{
  color: white;
}
 .span{

   font-weight: 600;
   font-size: 20px;

  border: 1px solid transparent  !important;
    border-radius: 9px;
}
.fa fa-minus
{
  font-size: 5px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  img:hover{
      transition: 0.5 ease-in-out  width 2s, height 2s;
      transform: scale(1.3) rotate(-3deg)
  }
  .image1{
      width:100px;
      height:100px;
  }
  .product-filter:hover{
      transition: 0.5s ease-in-out;
      background-color: orangered;
      transform: scale(1.1) rotate(0deg);
      border: white;
  }
  *,
*::before,
*::after {
  box-sizing: border-box;
}

.flex-container {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  padding: 3em 1em;
  
}
.flex-container .flex-item {
  margin: 25px;
  border-radius: 2px;
  padding: 4.5em 5em;
  position: relative;
  min-height: 260px;
  border-radius:5px;
  }
.flex-container .flex-item:focus {
        box-shadow: 0 0 3pt 2pt red;
    }
.flex-container .flex-item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  border-radius: 0px;
}
.flex-container .flex-item a span {
  -webkit-transform: translateZ(50px) scale(0.7);
          transform: translateZ(50px) scale(0.7);
}

.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
          transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt:hover {
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
}

.bg-one {
  background: linear-gradient(45deg, #ff194b, #8215f0);
}

.bg-two {
  background: linear-gradient(45deg, #ff5f4b, #821564);
}

.bg-three {
  background: linear-gradient(45deg, #ff00bb, #82000f);
}

.flex-item span > img {
  width:200px;
}
.flex-item .text{
  color:white;
  font-weight:800;
  font-family:Courier;
  font-size:12px;
  position:absolute;
  bottom:20px;
}